In [ ]:
#1.Input a string of odd length (minimum 9 characters), print a string made of the 3 
#middle characters from input string.(eg :- if input is abcdefghi, answer should be def)
mystr=input("Enter a string : ")
x=len(mystr)
if x<9 or x%2==0:
  print("Please enter a string of odd length with minimum 9 characters!!!")
else:
  i=(x//2)-1
  j=i+3
  print(mystr[i:j])

Enter a string : abcdefghi
def

In [ ]:
#2.Calculate the sum and average of first n natural numbers  
#a. using for loop 
#b. using while loop
#a:
num=int(input("Enter the limit: "))
if n<0:
  print("Please enter a positive integer")
else:
  sum=0
  avg=0
  for i in range(1,n+1):
    sum+=i
  avg=sum/num
print(f'Sum of first {num} natural numbers = ',sum)
print(f'Average of first {num} natural numbers = ',avg)

Enter the limit: 77
Sum of first 77 natural numbers =  36
Average of first 77 natural numbers =  0.4675324675324675

In [ ]:
#b:
num=int(input("Enter the limit: "))
if num<0:
  print("Please enter a positive integer")
else:
  sum=0
  i=1
  while i<=num:
    sum+=i
    i=i+1
  avg=sum/num
  print(f'Sum of first {num} natural numbers',sum)
  print(f'Average of first {num} natural numbers',avg)

Enter the limit: 77
Sum of first 77 natural numbers 3003
Average of first 77 natural numbers 39.0

In [ ]:
#3.Accept list of 5 float numbers as input from user using loop and store values in a list 

list1=[]
print("Enter 5 float numbers ")
for i in range(5):
  value=float(input())
  list1.append(value)
print(list1)

Enter 5 float numbers
1.2
1.3
2.4
4.5
5.6
[1.2, 1.3, 2.4, 4.5, 5.6]

In [ ]:
#4.a.Print the following pattern 
rows=input("Enter the number of rows: ")
i=1
for i in range(1,int(rows)+1):
  for j in range(1,i+1):
    print(j,end=" ")
  print("\n")

Enter the number of rows: 5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [ ]:
#4.b
rows=int(input("Enter the number of rows: "))
i=1
for i in range(rows,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print("\n")

Enter the number of rows: 5
5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [ ]:
#5.input a number, count and print the total number of digits in that number using while 
#loop 
num=int(input("Enter any number: "))
count=0
while num!=0:
  num=num//10
  count=count+1
print("Total Number of Digits = ",count)

Enter any number: 78
Total Number of Digits =  2

In [ ]:
#8.Reverse the following list using for loop and range [ do not use reverse or 
#reversed like functions]   
#list1 = [10, 20, 30, 4, 50] 
wordList=[10, 20, 30, 4, 50]
for i in range( len(wordList) - 1, -1, -1) :
    print(wordList[i])

50
4
30
20
10

In [9]:
#7.program to get the smallest number from a list

 
a=[2, 6, 7, 10, 5, 1, 0]
s=a[0]
for i in range(0,len(a)):
    if s>a[i]:
        s=a[i]
print("The smallest number is : ",s)

The smallest number is :  0

In [ ]:
#6.Given two lists. Create a third list by picking an odd-index element from the first list 
#and even index elements from second. 
#listOne = [3, 6, 9, 12, 15, 18, 21] 
#listTwo = [4, 8, 12, 16, 20, 24, 28] 
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
listThree=[]
for j in range(0,len(listTwo),2):
    listThree.insert(j,listTwo[j])
for i in range(1,len(listOne),2):
    listThree.insert(i,listOne[i])   
print(listThree)

[4, 6, 12, 12, 20, 18, 28]